<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cafe&Wifi API</title>
    <style>
        body{
            font-family: Helvetica, sans-serif;
            font-weight: 800;
        }
        h1{
            text-align: center;
            font-weight: 900;
        }
        a{
            color: mediumvioletred;
        }
        a:visited{
            color: olive;
        }
    </style>
</head>
<body>
    <h1>Welcome to the Cafe & Wifi API</h1>
    <hr>
    <a href="https://documenter.getpostman.com/view/42559753/2sAYdcsYK8">View Documentation</a>
</body>
</html>
